<!doctype html>
<html>
<head>
	<% include inner/_meta %>
	<link rel="stylesheet" href="/css/basic.css" />
	<link rel="stylesheet" href="/css/text.css" />
	<link rel="stylesheet" href="/css/hover-imagine.css">
	<link rel="stylesheet" href="/css/home.css">
	<title>Nep - Chatting</title>
</head>
<body>
	<div style="padding: 2em 0;">
		<h1 title>Hi <%= req.nepUser.id %>, Welcome to Nep</h1>
		<p intro>An Chatting Board By Socket.IO</p>
		<a href="/profile">Profile</a>
		<a href="/login/clear">Logout</a>
	</div>
	
	<ul class="board-list">
		<% BOARD_LIST.forEach((item, idx, its)=>{ %>
		<a href="/board?BOARD_ID=<%= item.name %>"><li style="background-image: url('<%= item.img %>');" class="board img-container">
			<%= item.name %>
			
			<span class="word-container">
				<span class="intro-word"><%= item.intro %></span>
				<span class="circle"></span>
			</span>
		</li></a>
		<% }); %>
	</ul>
	
	<footer>
		<h1>
			<a target="_blank" href="https://eczn.github.io">About Author</a>
		</h1>
	</footer>
	
	<canvas id="clock"></canvas>

	<script src="/js/jquery-3.1.0.min.js"></script>
	<script src="/js/jClock.js"></script>
	<script>
		var myClock = new jClock({
			canvasId: 'clock', 
			clockHight: $('body').width(),
			clockWidth: $('body').width()
		});
	</script>
</body>
</html>
